<div class="wrapper">


  <p>  <h2> <%= @question %> </h2></p>
  <p>--yoU</p>

  <p><%= @answer %></p>
  <p>--YOur coach</p>

  <button type="button" class="btn btn-link">
  <%= link_to "ask an other question", '/ask' %>
  </button>
</div>
